<footer class="main-footer mt-5" style="background-color: rgb(2, 71, 128);" style="background-color: rgb(2, 71, 128);">
  <strong> <a href="https://adminlte.io"></a>.</strong>

  <div class="float-right d-none d-sm-inline-block">

    <div class="container ss_new_container">
      <div class="row">
        <div class="col-sm-6 col-xl-3 ss_new_cat_footer_col">
          <div class="footer_part_heading">
            <p><span>For Vendors:</span></p>
          </div>
          <ul class="footer_link_list">
            <li><a href="https://www.softwaresuggest.com/vendors">Register Your Software</a></li>
            <li><a rel="noopener" target="_blank"
                href="https://www.softwaresuggest.com/vendorsportal/index.php?r=site/login">Vendor Login</a></li>
            <li><a class="footer_focus_style" href="https://www.softwaresuggest.com/price-estimator">Price
                Estimator</a></li>
            <li class="add_service_cursor_outer"><span
                onclick="ss_redirection('https://www.softwaresuggest.com/vendor/value-added-services','')"
                class="footer_focus_style add_service_cursor">Value Added Service</span></li>

            <li><span class="wr_cursor"
                onclick="ss_redirection('https://www.softwaresuggest.com/write-review','')">Write a Review</span></li>

            <li><a href="https://www.softwaresuggest.com/award">Award</a></li>

          </ul>
        </div>
        <div class="col-sm-6 col-xl-3 ss_new_cat_footer_col">
          <div class="footer_part_heading">
            <p><span>For Buyers:</span></p>
          </div>
          <ul class="footer_link_list">
            <li><a href="https://www.softwaresuggest.com/us/all-categories" rel="nofollow">All Categories</a></li>
            <li><a href="https://www.softwaresuggest.com/success-stories">Success Stories</a></li>
            <li><a href="https://www.softwaresuggest.com/resources">Resources</a></li>
            <li><a href="https://www.softwaresuggest.com/reports">Reports</a></li>
            <li><a href="https://www.softwaresuggest.com/blog/">Blog</a></li>
            <li><a href="https://www.softwaresuggest.com/blog/ebooks/">Free Ebooks</a></li>

            <li><a href="https://www.softwaresuggest.com/mediacoverage" rel="nofollow">Media Coverage </a></li>
            <li><a href="https://www.softwaresuggest.com/consultants" rel="nofollow">Consultant Program</a></li>
            <li class="footer_cen_btn">
              <a rel="nofollow" href="javascript:void(0);" id="show">User Sign Up/ Sign In</a>
            </li>

          </ul>
        </div>
        <div class="col-sm-6 col-xl-3 ss_new_cat_footer_col">
          <div class="footer_part_heading">
            <p><span>About Company:</span></p>
          </div>
          <ul class="footer_link_list">
            <li><a href="https://www.softwaresuggest.com/about">About Us</a></li>
            <li><a href="https://www.softwaresuggest.com/tos">Terms of Use</a></li>
            <li><a href="https://www.softwaresuggest.com/privacy">Privacy Policy</a></li>
            <li><a href="https://appitsimple.com/current-opening" rel="nofollow noopener" target="_blank">Careers
                <span class="footer_focus_style"> We are hiring</span></a></li>
            <li class="new_cat_footer_flag">
              <span>Select your country:</span>
              <div class="d-flex footer_flag_main">
                <a href="https://www.softwaresuggest.com/">
                  <div class="cat_new_footer_flag india_flag" title="india_flag" alt="india_flag"></div>
                </a>
                <a href="https://www.softwaresuggest.com/us/">
                  <div class="cat_new_footer_flag us_flag" title="us_flag" alt="us_flag"></div>
                </a>
                <a href="https://www.softwaresuggest.com/gcc/">
                  <div class="cat_new_footer_flag gcc_flag" title="gcc_flag" alt="gcc_flag"></div>
                </a>
                <a href="https://www.softwaresuggest.co.uk/" rel="noopener" target="_blank">
                  <div class="cat_new_footer_flag uk_flag" title="uk_flag" alt="uk_flag"></div>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-xl-3 ss_new_cat_footer_col">
          <div class="footer_part_heading">
            <p><span>Get In Touch <span class="with_us_txt">With Us</span>:</span></p>
          </div>
          <div class="address_main_div">
            <address class="footer_add_new">
              <strong>AppItSimple Infotek Pvt. Ltd.</strong>
            </address>
            <div class="d-flex align-items-center ss_footer_social_ico_new">
              <a href="https://www.facebook.com/SoftwareSuggest" target="_blank" rel="nofollow noopener">
                <div class="cat_new_footer_social facebook" title="facebook" alt="facebook"></div>
              </a>
              <a href="https://www.twitter.com/SoftwareSuggest" target="_blank" rel="nofollow noopener">
                <div class="cat_new_footer_social twitter" title="twitter" alt="twitter"></div>
              </a>
              <a href="https://www.instagram.com/softwaresuggest_ss/" target="_blank" rel="nofollow noopener">
                <div class="cat_new_footer_social instagram" title="instagram" alt="instagram"></div>
              </a>
              <a href="https://www.youtube.com/user/SoftwareSuggest/videos" target="_blank" rel="nofollow noopener">
                <div class="cat_new_footer_social youtube" title="youtube" alt="youtube"></div>
              </a>
              <a href="https://www.linkedin.com/company/softwaresuggest" target="_blank" rel="nofollow noopener">
                <div class="cat_new_footer_social linkedin" title="linkedin" alt="linkedin"></div>
              </a>
            </div>
            <a class="d-flex align-items-center cat_new_footer_mail" href="mailto:team@softwaresuggest.com"><span
                class="desk_cat_footer_mail"></span>team@softwaresuggest.com</a>
            <p class="cat_new_footer_copyright">© 2014 - 2022 SoftwareSuggest ®</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>