<div class="content-wrapper">
  
    <div class="card m-5" style=" height: 800px;">
      <div class="card-header"  style="background-color: steelblue;">
        <h3 class="card-title "   >Employee Ranking Chart</h3>
    
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="chart" >
            <div echarts [options]="option"  style=" height: 1500px; width: 1500px;"></div>           
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  
  
  
  
